__pycache__/
.ipynb_checkpoints/
src/__pycache__/
src/.ipynb_checkpoints/
data/mnist/
pics/
models/mnist/*.pt
eval_models/*.pt
.idea/*
recommender/data/ml20m/*
recommender/*.pt
recommender/src/*.pt
recommender/models/*.pt
recommender/best_models/*.pt
recommender/old/*
pyproject.toml
poetry.lock
